@model List<ProjetFinSessionBD.Models.CircuitEvenement>

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    @if (Model.Count != 0)
    {
        @foreach (var circuit in Model)
        {

            <h4>Circuit</h4>
            <hr />
            <dl class="row">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => circuit.NomCircuit)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => circuit.NomCircuit)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => circuit.Pays)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => circuit.Pays)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => circuit.Ville)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => circuit.Ville)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => circuit.NomEvenement)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => circuit.NomEvenement)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => circuit.Date)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => circuit.Date)
                </dd>
            </dl>
        }

    }
    else if (Model.Count == 0)
    {
        <p>Il n'y a pas d'évènements!</p>
    }
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
