@model ProjetFinSessionBD.Models.Ecurie

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Ecurie</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nom)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nom)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Victoire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Victoire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sponsor)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sponsor.SponsorId)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.EcurieId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
