@model List<ProjetFinSessionBD.Models.ViewModel.EcurieViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Toutes les écuries et leurs pilotes</h1>

<p>
    <a asp-action="Create">Créer une nouvelle écurie</a>
</p>

<table class="table">
    <thead>
        <tr>

            <th>
               Logo
            </th>
            <th>
                Nom d'écuries
            </th>
            <th>
                Nombre de victoires
            </th>
            <th>
                Pilotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ecurie in Model)
        {
            <tr>
                <td>
                    <img alt="@(ecurie.Name)" src="@(ecurie.ImageUrl)" style="height:100px" />
                </td>
                <td>
                    @ecurie.Name
                </td>
                <td>
                    @ecurie.Victoires
                </td>
                <td>
                    <ul>
                        @foreach (var pilote in ecurie.pilotes)
                        {
                            <li>
                                @pilote.Name - Victoires: @pilote.Victoires :
                                <div>
                                    <a asp-controller="Pilotes" asp-action="Details" asp-route-id="@pilote.Id">Détail</a>
                                </div>
                            </li>
                        }
                    </ul>
                </td>

            </tr>
        }
    </tbody>
</table>
