@model ProjetFinSessionBD.Models.ViewModel.FiltreVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Toutes les écuries et leurs pilotes</h1>

<p>
    <a asp-action="Create">Créer une nouvelle écurie</a>
</p>

<table class="table">
    <form asp-action="Index">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <!-- Chercher Ecurie par son pseudo -->
        <div class="form-group col-6">
            <label asp-for="Name" class="control-label"></label>
            <div>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
        </div>
        <!-- Chercher Par le nombre de victoire minimum -->
        <div class="form-group col-6">
            <label asp-for="VictoiresMinimum" class="control-label"></label>
            <div>
                <input asp-for="VictoiresMinimum" class="form-control" />
                <span asp-validation-for="VictoiresMinimum" class="text-danger"></span>
            </div>
        </div>

        <div class="row align-items-end">
            <div class="form-group col-auto">
                <div class="col-md-offset-2">
                    <button type="submit" class="btn btn-light">Filtrer</button>
                </div>
            </div>
        </div>

    </form>
    </div>
    <thead>
        <tr>

            <th>
               Logo
            </th>
            <th>
                Nom d'écuries
            </th>
            <th>
                Nombre de victoires
            </th>
            <th>
                Pilotes
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ecurie in Model.Ecurie)
        {
            <tr>
                <td>
                    <img alt="@(ecurie.Name)" src="@(ecurie.ImageUrl)" style="height:100px" />
                </td>
                <td>
                    @ecurie.Name
                </td>
                <td>
                    @ecurie.Victoires
                </td>
                <td>
                    <ul>
                        @foreach (var pilote in ecurie.pilotes)
                        {
                            <li>
                                @pilote.Name - Victoires: @pilote.Victoires :
                                <div>
                                    <a asp-controller="Pilotes" asp-action="Details" asp-route-id="@pilote.Id">Détail</a>
                                </div>
                            </li>
                        }
                    </ul>
                </td>

            </tr>
        }
    </tbody>
</table>
